/*
----------------------
----iCuck Studios----
----------------------
*/

/* Please do not copy my code directly, instead, please paraphrase it, sorry, I'm protective of this. */
h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px; 
}

span {
    font-family: cursive;
    font-size: 14px;
}
span:hover {
    color: #484848;
    background-color: gainsboro;
}

#animated_Btn:hover {
    width: 205px;
    height: 32px;
    font-size: 21px;
}

.align-center {
    text-align: center;
}

#animated_Btn {
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 30px;
    display: inline-block;
    background-color: #f9a743;
    box-shadow: 0 30px 80px rgba(249, 167, 68, 0.5);
    background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
    width:175px;
    height: 30px;
    position: relative;
    font-weight:bold;
    animation:animated_Btn 5s 1;
    -moz-animation:animated_Btn 5s 1;
    -webkit-animation:animated_Btn 5s 1;
    -o-animation:animated_Btn 5s 1;
    -webkit-border-radius:5px;
}

@keyframes animated_Btn
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;}
70% {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_Btn
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:500px;}
55% {-webkit-transform: rotate(0deg);left:500px;}
70% {-webkit-transform: rotate(0deg);left:500px;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_Btn
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_Btn
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}

h1 {
  text-align: center;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing-fx 3.5s steps(40, end),
    cursor 0.75s step-end 1;
}

/* the typing*/
@keyframes typing-fx {
  from { width: 0 }
  to { width: 100% }
}


@keyframes cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
